
.colorred {
    color: red; /* Красный цвет выделения */
}
.colorgreen {
    color: green;
}
.colorblue {
    color: blue;
}
.colorpink {
    color: deeppink;
}
.coloryellow {
    color: yellow;
}
.colorblack {
    color: black;
}

label.btn-outline-primary{
    background-color: cadetblue;
}
label.btn-outline-primary:hover{
    background-color: cornflowerblue;
}
.row {

}
.row-height-400 {
    height: 400px;
}

table.table-striped{
    border-color: red;
}
table.table-striped-red{
    border-color: red;
    background-color: darksalmon;
    font-size: large;
    font-weight: bold;
    /*  transform: scale(0.5); */
}
table.table-striped-green{
    border-color: green;
    background-color: darkseagreen;
    font-size: large;
    font-weight: bold;
  /*  transform: scale(0.5); */
}
table.table-striped-empty{
    border-color: black;
    background-color: slategray;
    font-size: large;
    font-weight: bold;
    opacity: 70%;
    /*  transform: scale(0.5); */
}
table.table-striped-blue{
    border-color: blue;
    background-color: cornflowerblue;
    font-size: large;
    font-weight: bold;
    /*  transform: scale(0.5); */
}
table.table-striped-pink{
    border-color: deeppink;
    background-color: hotpink;
    font-size: large;
    font-weight: bold;
    /*  transform: scale(0.5); */
}
table.table-striped-yellow{
    border-color: yellow;
    background-color: sandybrown;
    font-size: large;
    font-weight: bold;
    /*  transform: scale(0.5); */
}


table.table-striped-stats {
    *border-collapse: collapse; /* IE7 и раньше */
    border-spacing: 0;
    width: 100%;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 14px;
    color: #444;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.table-green{
    border-color: green;
}
div.container{
    position: relative;

   /* zoom: 0.5; показывает правильно при минимальном р-ре экрана, но коряво н среднем */
}
div.players-table{
    background-image: url("/img/bg-image-hud.png") !important;
    background-position: center;
    background-size: 70%;
    width: auto;
    background-repeat: no-repeat;
}
.container.text-center{

}

button.btn{
    background-color: blue;
}

.tooltipImg span{
    border-radius: 5px 5px 5px 5px;
    visibility: hidden;
    position: fixed;
    left: 35%;
    top: 35%;
    background: #fff;
    box-shadow: -2px 2px 10px -1px #333;
    border-radius: 5px;
    z-index: 5;
}

.tooltipImg:hover span{
    visibility: visible;
}
.table-info{
    position: fixed;
    top: 15px;
    right: 15px;
}
.error{
    color: red;
}
/*
button.btn:hover{
    background-color: red;
}
цвет кнопки при наведении
*/
body{

    background-color: grey !important;
    background-position: center;
    background-repeat: no-repeat;
}