
.colorred {
    color: red; /* Красный цвет выделения */
}
.colorgreen {
    color: green;
}
.colorblue {
    color: blue;
}
.colorpink {
    color: deeppink;
}
.coloryellow {
    color: yellow;
}
.colorblack {
    color: black;
}

label.btn-outline-primary{
    background-color: cadetblue;
}
label.btn-outline-primary:hover{
    background-color: cornflowerblue;
}
.row {

}
.row-height-400 {
    height: 400px;
}

table.table-striped{
    border-color: red;
}
table.table-striped-red{
    border-color: red;
    background-color: darksalmon;
    font-size: large;
    font-weight: bold;
    /*  transform: scale(0.5); */
}
table.table-striped-green{
    border-color: green;
    background-color: darkseagreen;
    font-size: large;
    font-weight: bold;
  /*  transform: scale(0.5); */
}
table.table-striped-empty{
    border-color: black;
    background-color: slategray;
    font-size: large;
    font-weight: bold;
    opacity: 70%;
    /*  transform: scale(0.5); */
}
table.table-striped-blue{
    border-color: blue;
    background-color: cornflowerblue;
    font-size: large;
    font-weight: bold;
    /*  transform: scale(0.5); */
}
table.table-striped-pink{
    border-color: deeppink;
    background-color: hotpink;
    font-size: large;
    font-weight: bold;
    /*  transform: scale(0.5); */
}
table.table-striped-yellow{
    border-color: yellow;
    background-color: sandybrown;
    font-size: large;
    font-weight: bold;
    /*  transform: scale(0.5); */
}
.table-green{
    border-color: green;
}
div.container{
    position: relative;

   /* zoom: 0.5; показывает правильно при минимальном р-ре экрана, но коряво н среднем */
}
div.players-table{
    background-image: url("/img/bg-image-hud.png") !important;
    background-position: center;
    background-size: 70%;
    width: auto;
    background-repeat: no-repeat;
}
.container.text-center{

}

button.btn{
    background-color: blue;
}

.tooltipImg span{
    border-radius: 5px 5px 5px 5px;
    visibility: hidden;
    position: fixed;
    left: 35%;
    top: 35%;
    background: #fff;
    box-shadow: -2px 2px 10px -1px #333;
    border-radius: 5px;
    z-index: 5;
}

.tooltipImg:hover span{
    visibility: visible;
}
.table-info{
    position: fixed;
    top: 15px;
    right: 15px;
}
/*
button.btn:hover{
    background-color: red;
}
цвет кнопки при наведении
*/
body{

    background-color: grey !important;
    background-position: center;
    background-repeat: no-repeat;
}