<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
    <style>
        .colorred {
            color: red; /* Красный цвет выделения */
        }
        .colorgreen {
            color: green; /* Красный цвет выделения */
        }
    </style>
</head>
<body>
<div th:text="'Hello, '+ ${name}"></div>
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>

    <table class="table table-striped">

        <tr>
            <td th:text="${player.nickname}"></td>
            <td th:text="${player.total3bet}"></td>
            <td th:text="${player.total3betEp}"></td>
            <td th:text="${player.total3betMp}"></td>
            <td th:text="${player.total3betCo}"></td>
            <td th:text="${player.total3betBu}"></td>
            <td th:text="${player.total3betSb}"></td>
            <td th:text="${player.total3betBb}"></td>
        </tr>
    </table>

</body>
</html>