<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<head>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    <div th:replace="parts/header::frag"></div>
</head>
<body>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js}"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js}"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>


<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<h2 align="center">Why SmartPoker was created</h2>
<h5 align="center">This project improves the <a href="https://smarthand.pro" target="_blank"><strong>smarthand.pro</strong></a> service in many important things, such as quality viewing of statistics and simultaneous analysis of all competitors at the poker table.</h5>
<div th:class="plus">SmartPoker позволяет получить статистику на ВСЕХ соперников за столом в одной вкладке</div>
<div th:class="minus">SmartHand - одна вкладка - один соперник. Вы можете в единицу времени видеть статистику только одного соперника. При этом, времени на принятие решение у вас, как правило, 15-60 секунд.</div>
<div th:class="plus">SmartPoker позволяет получить важнейшую информацию максимум в 3 клика.</div>
<div th:class="minus">SmartHand предоставляет статистику в неструктурированном виде, часто не хватает времени на поиск и анализ нужной информации.</div>
<div th:class="plus">SmartPoker меняет цвет каждого стата в зависимости от того, насколько хорошо играет оппонент. Легко понять, с чем мы имеем дело (Сразу понятно, насколько адекватны 80% чек-рейза на терне.)
</div>
<div th:class="minus">SmartHand предоставляет сухую информацию из цифр-цифр-цифр. При игре в течение 30+ минут, качество анализа информации уменьшается. Как итог, тяжело понять, насколько правильно играет оппонент. (Например, он открывает в среднем каждую третью руку (33% от всех раздач. Это много? А 50%? А 15%?).
</div>
<div th:class="plus">SmartPoker показает картинку с диапазоном оппонента. Легко сориентироваться, какие руки входят в 7% диапазона.
</div>
<div th:class="minus">SmartHand дает только цифры. Нужно тратить время и энергию, чтобы вспомнить, входят ли ATs в 7% диапазона 3бета.
</div>
</body>
</html>