<!DOCTYPE html>
<html>

<div th:fragment="frag (player, player2, player3, player4, player5,plStats,seats)">
    <div class="players-table">
        <div class="container-fluid text-center" th:classappend="container">
            <div class="row row-height-400">
                <div class="col align-self-end">
                    <a th:href="'extrastats?player='+${player.nickname}+'&stat=0'" target="_blank"
                       th:class="colorgreen" th:text="${player.nickname}"
                       data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Подсказка вверху"
                       id="liveToastBtn4"></a>
                    <div th:replace="player-form::frag (1,${player},${player2},${player3},${player4},${player5})">
                    </div>
                    <div th:replace="player-table::frag (${player},${plStats.get(0).get(0)},${seats.get(0)})">
                    </div>
                </div>
                <div class="col  align-self-start">
                    <a th:href="'3bet?player='+${player2.nickname}" target="_blank"
                       th:class="colorgreen" th:text="${player2.nickname}"></a>
                    <div th:replace="player-form::frag (2,${player},${player2},${player3},${player4},${player5})">
                    </div>
                    <div th:replace="player-table::frag (${player2},${plStats.get(0).get(1)},${seats.get(1)})">
                    </div>
                </div>
                <div class="col  align-self-end">
                    <a th:href="'3bet?player='+${player3.nickname}" target="_blank"
                       th:class="colorgreen" th:text="${player3.nickname}"></a>
                    <div th:replace="player-form::frag (3,${player},${player2},${player3},${player4},${player5})">
                    </div>
                    <div th:replace="player-table::frag (${player3},${plStats.get(0).get(2)},${seats.get(2)})">
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row justify-content-evenly">
                <div class="col-4">
                    <a th:href="'extrastats?player='+${player4.nickname}+'&stat=0'" target="_blank"
                       th:class="colorgreen" th:text="${player4.nickname}"
                       data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Подсказка вверху"></a>
                    <div th:replace="player-form::frag (4,${player},${player2},${player3},${player4},${player5})">
                    </div>
                    <div th:replace="player-table::frag (${player4},${plStats.get(0).get(3)},${seats.get(3)})">
                    </div>
                </div>

                <div class="col-4">
                    <a th:href="'extrastats?player='+${player5.nickname}+'&stat=0'" target="_blank"
                       th:class="colorgreen" th:text="${player5.nickname}"
                       data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Подсказка вверху"></a>
                    <div th:replace="player-form::frag (5,${player},${player2},${player3},${player4},${player5})">
                    </div>
                    <div th:replace="player-table::frag (${player5},${plStats.get(0).get(4)},${seats.get(4)})">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>