<!DOCTYPE html>
<html>

<div th:fragment="frag (player, plStats, seats)">
    <div th:switch="${player.nickname}">
        <table th:case="'Empty Seat'" class="table table-striped" border="3"
               th:classappend="${seats}">
            <tr th:each="i : ${plStats}">
                <td th:each="stat : ${i}">-</td>
            </tr>
        </table>
        <table th:case="*" th:object="${player}" class="table table-striped" border="3"
               th:classappend="${seats}">
            <tr th:each="i : ${plStats}">
                <td th:each="stat : ${i}">
                    <div th:each="stat2 : ${stat}">
                            <div class="tooltipImg" th:if="${!stat2.statObject.isNeedLink()}">
                                <div th:class="${stat2.statColor}"
                                     th:text="${stat2.statValueStr}"
                                     th:title="${stat2.statName}">
                                </div>
                                <span><img th:if="${stat2.picture}"
                                           th:src="${stat2.picture}" src="/img/vpip20.png"/></span>
                            </div>

                                <div class="tooltipImg" th:if="${stat2.statObject.isNeedLink()}"><a
                                        th:onclick="getStatId([[${stat2.statName}]],[[${player.nickname}]])"
                                        th:text="${stat2.statValueStr}"
                                        th:title="${stat2.statName}" th:class="${stat2.statColor}"
                                        href="#"></a>
                                    <span><img th:if="${stat2.picture}"
                                               th:src="${stat2.picture}" src="/img/vpip20.png"/></span>
                                </div>


                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>
</html>